audio{
  display: none;
}

.bubbles
{
  z-index: -1;
  position: relative;
  display: flex;
}

.bubbles span
{
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin:0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44,
  0 0 50px #4fc3dc,
  0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s/ var(--i));
}

.bubbles span:nth-child(even)
{
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544,
  0 0 50px #ff2d75,
  0 0 100px #ff2d75;
}

.buttons
{
  width: 100%;
  display: flex;
  justify-content:baseline;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%
}

.buttons label
{
  position: relative;
  width: 50px;
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.buttons label input
{
  appearance: none;
}

.buttons label input:checked ~ span
{
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.35),
  inset 0 5px 5px rgba(0, 0, 0, 0.5),
  inset 0 15px 25px rgba(0, 0, 0, 0.35);
}

.buttons label input:checked ~ i
{
  color: #fff;
  text-shadow: 0 0 5px #ff2d75,
  0 0 8px #ff2d75;
}

.buttons label span
{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#555353, #363535, #303020);
  border: 2px solid #222;
  border-radius: 6px;
  box-shadow: inset 0 5px 1px rgba(0, 0, 0, 0.35),
  0 5px 5px rgba(0, 0, 0, 0.5),
  0 15px 25px rgba(0, 0, 0, 0.35);
}

.buttons label span::before
{
  content: '';
  position: absolute;
  inset: 5px 3px;
  border-top: 1px solid #ccc;
  filter: blur(2px);
}

.buttons label i
{
  position: relative;
  z-index: 10;
  font-size: 1.5em;
  color: #000;
}

.collapse-fade-out 
{
  animation: fadeInOut 2s ease-in-out reverse forwards;
}

.container
{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  container: -1;
}

.fade-in-out 
{
  animation: fadeInOut 2s ease-in-out forwards;
}

.image-container
{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url('../../assets/background.png'); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  z-index: 0;
}

.logo-image
{
  width: 40%;
  margin-left: 30%;
}

.middle-container
{
  z-index: 10;
  display: flex;
  flex-direction: column; 
  width: 50%;
  margin-left: 25%;
  margin-top: 3vh;
  background-color: rgba(0, 0, 0, 0.58);
}

.tab-container 
{
  position: relative;
  background-color: rgba(0, 0, 0, 0.722);
  padding: 3%;
  padding-left: 20%;
  padding-right: 20%;
  font-family: 'Poppins',sans-serif;
}

.tab-container .form
{
  display: flex;
  flex-direction: column;
}

.tab-container .form .input-box
{
  position: relative;
  margin-top: 5vh;
}

.tab-container .form .input-box input
{
  position: relative;
  width: 100%;
  padding: 2% 1% 1%;
  background: transparent;
  outline: none;
  border: none;
  box-shadow: none;
  font-family: 'Andale Mono', monospace;
  color: transparent;
  font-size: 1.3em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.tab-container .form .input-box input:focus
{
  color: rgba(0, 0, 0, 0.886);
}

.tab-container .form .input-box span
{
  position: absolute;
  left: 0;
  padding: 1% 0% 2%;
  pointer-events: none;
  color: #8f8f8f;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.tab-container .form .input-box input:active ~ span,
.tab-container .form .input-box input:focus ~ span
{
  color: #fff;
  font-size: 0.75em;
  transform: translateY(-30px);
}

.tab-container .form .input-box i
{
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #ffffffd8;
  border-radius: 4px;
  overflow: hidden;
  color: #fff;
  transition: 0.5s;
  pointer-events: none;
}

.tab-container .form .input-box input:active ~ i,
.tab-container .form .input-box input:focus ~ i
{
  height: 40px;
}

.tab-content 
{
  display: none;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-top: none;
}

.tab-content.active 
{
  display: block;
}

.session-buttons
{
  margin-top: 4%;
  margin-left: 25%;
  width: 50%;
  position: relative;
  padding:  3% 5% 3% 5%;
  background: rgba(45,45,45,1);
  border-radius: 50px;
  font-size: 1.5em;
  color: #999;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
  overflow: hidden;
}

.session-buttons:hover
{
  cursor: pointer;
  color: #ffffffed;
  text-shadow: 0 0 15px #ff2d75,
  0 0 40px #ff2d75;
}

.session-buttons::before
{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  transform: translate(-50%,-50%);
  background: radial-gradient(#ff4f8c, transparent, transparent);
  width: 200px;
  height: 200px;
  opacity: 0;
  transition:  0.5s, top 0s, left 0s;
}

.session-buttons:hover::before
{
  opacity: 1;
}

.session-buttons::after
{
  content: '';
  position: absolute;
  inset: 2px;
  background: rgba(45,45,45,0.8);
  border-radius: 48px;
}

.session-buttons span
{
  position: relative;
  z-index: 1;
  letter-spacing: 0.1em;
}

#hide-div
{
  transition: 1s;
  transform: translate(0%, -50%);
}

#hide-div.initial-hidden 
{
  opacity: 0;
  height: 0;
  overflow: hidden;
}

@keyframes animate
{
  0%
  {
      transform: translateY(100vh) scale(0);
  }
  100%
  {
      transform: translateY(-10vh) scale(1);
  }
}

@keyframes fadeInOut 
{
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}