<div class="winBody">
    <div class="video-container">
  
        <video autoplay loop muted>
            <source src="../../../../assets/endVideo.mp4" type="video/mp4">
          </video>
        
      </div>

    <div class="overlay">
        <div class="contentDiv">
            <div class="cupImage">
                <div class="winner">
                    {{parametar}}
                </div>
            </div>
            <div class="returnButton">
                REFRESH TO RETURN TO LOGIN PAGE
            </div>
        </div>
    </div>
</div>