
<div class="overlay">
    
  <div class="message">
    <label *ngIf="!ready">
      <h2 *ngIf="playVideo" class="messageText">Waiting for other player</h2>
      <div *ngIf="playVideo" class="jumping">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </label>
    <label *ngIf="ready">
      <h2 id="button" *ngIf="playVideo && host" class="messageText" (click)="onPlay()">PLAY</h2>
      <h2 *ngIf="playVideo && !host" class="messageText">Host will start the game</h2>
    </label>
  </div>

    <div class="hourglass" *ngIf="!ready">

    </div>
    <div class="hourglass-inactive" *ngIf="ready">
      <div class="playerIconDiv" *ngIf="ready">
        <img src="../../../assets/player.png" alt="gamerImage">
        <label class="player-username">{{playerUsername}}  </label>
      </div>
      <div class="opponentIconDiv" *ngIf="ready">
        <img src="../../../assets/opponent.png" alt="gamerImage">
        <label class="opponent-username">{{opponentUsername}}  </label>
      </div>
    </div>


    <div class="code">
      <div *ngIf="playVideo" class="codeBoxBody">
        <div class="codeBox">
          
            <h2 *ngIf="!ready" class="messageText">Game Code: {{sessionCode}}</h2>
          <!-- </label> -->
            <h2 class="randomText" *ngIf="ready">{{loadingSentence}}</h2>
        </div>
      </div>
    </div>
</div>

<div class="video-container">
  
  <video *ngIf="playVideo" autoplay loop muted>
      <source src="../../../assets/backgroundVideo.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  
</div>

<section *ngIf="isLoading">
  <div class="loader">
    <span style="--i:1;"></span>
    <span style="--i:2;"></span>
    <span style="--i:3;"></span>
    <span style="--i:4;"></span>
    <span style="--i:5;"></span>
    <span style="--i:6;"></span>
    <span style="--i:7;"></span>
    <span style="--i:8;"></span>
    <span style="--i:9;"></span>
    <span style="--i:10;"></span>
    <span style="--i:11;"></span>
    <span style="--i:12;"></span>
    <span style="--i:13;"></span>
    <span style="--i:14;"></span>
    <span style="--i:15;"></span>
    <span style="--i:16;"></span>
    <span style="--i:17;"></span>
    <span style="--i:18;"></span>
    <span style="--i:19;"></span>
    <span style="--i:20;"></span>
  </div>
</section>