<div class="pageContainer">
<div class="pulsingImage"></div>
    <div class="leftSideContainer">
        <!-- <div class="oponentDice">
            <div class="dices">
                <div class="dice1"><label><span></span><h1>{{prvaOponent}}</h1></label></div>
                <div class="dice2"><label><span></span><h1>{{drugaOponent}}</h1></label></div>
            </div>
        </div> -->
        <div class="sideCards">
            <div class="monsterCards"  (click)="offPickedImage()">
                <div class="monster">
                    Monster1
                </div>
                <div class="monster">
                    Monster2
                </div>
                <div class="monster">
                    Monster3
                </div>
            </div>
            <div class="actionPointsDiv">
                <div [ngStyle]="{'background-color': actionPoints>=1 ? (turn==1 ? '#4fc3dc':'#ff2d75') : '#43434382'}"></div>
                <div [ngStyle]="{'background-color': actionPoints>=2 ? (turn==1 ? '#4fc3dc':'#ff2d75') : '#43434382'}"></div>
                <div [ngStyle]="{'background-color': actionPoints>=3 ? (turn==1 ? '#4fc3dc':'#ff2d75') : '#43434382'}"></div>
            </div>
            <div class="playCardPiles">
                <div class="freshPile">
                    
                </div>
                <div class="discardPile">
                    
                </div>
                <div [ngClass]="{'pickedCard': true, 'show': showPickedCard&&myTurn}">
                    <div *ngIf="turn==1" (click)="chooseCard()" [ngStyle]="{'cursor': turn==1? 'pointer':'auto'}">
                        Choose
                    </div>
                    {{selectedValue}}
                </div>
            </div>
            <!-- <div class="discardPile">
                <div>
                    
                </div>
            </div> -->
        </div>
        <!-- <div class="myDice">
            <div class="dices" (click)="DiceRoll()">
                <div class="dice1"><label><span></span><h1>{{prva}}</h1></label></div>
                <div class="dice2"><label><span></span><h1>{{druga}}</h1></label></div>
            </div>
        </div> -->
        
    </div>
    <div class="centerContainer">
        <div class="board">
            <div class="opponentSection"  (click)="offPickedImage()">
                

                <div class="boardContainer">

                    <div class="playCard">

                    </div>
                    <div class="playCard">

                    </div>
                    <div class="playCard">

                    </div>
                    <div class="playCard">

                    </div>
                    <div class="playCard">

                    </div>
                    <div class="playCard">

                    </div>
                    <div class="playCard">

                    </div>
                    <div class="monsterBordContainer">
                        <div class="monster">

                        </div>
                    </div>
                    
                </div>
                <div class="multipleFunctionDiv">
                    <div class="opponentHand">
                        <div class="container">
                            <div *ngFor="let i of range(opponentHandNumber)" class="card" [style.--i]="i-opponentHandNumber/2" ></div>
                        </div>
                    </div>
                    <div class="additionalOpponentDataSection">
                        <div class="opponentDice">
                            <div class="dices" (click)="DiceRoll()">
                                <img class="diceImg" [src]="'assets/dice/opponentDice' + prvaOpponent + '.png'" alt="Dice {{prvaOpponent}}">
                                <img class="diceImg" [src]="'../../assets/dice/opponentDice' + drugaOpponent + '.png'" alt="Dice {{drugaOpponent}}">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="playerSection">
                <div class="boardContainer">

                    <div class="playCard">

                    </div>
                    <div class="playCard">

                    </div>
                    <div class="playCard">

                    </div>
                    <div class="playCard">

                    </div>
                    <div class="playCard">

                    </div>
                    <div class="playCard">

                    </div>
                    <div class="playCard">

                    </div>
                    <div class="monsterBordContainer">
                        <div class="monster">

                        </div>
                    </div>
                    
                </div>
                <div class="multipleFunctionDiv">
                    <div class="hand">
                        <div class="container">
                            <div *ngFor="let i of range(playerHandNumber)" class="card" [style.--i]="i-playerHandNumber/2" (click)="onCardClick(i)">{{i}}</div>
                            <!-- <div class="card" style="--i: -3;">2</div>
                            <div class="card" style="--i: -2;">3</div>
                            <div class="card" style="--i: -1;">4</div>
                            <div class="card" style="--i: 0;">5</div>
                            <div class="card" style="--i: 1;">6</div>
                            <div class="card" style="--i: 2;">7</div>
                            <div class="card" style="--i: 3;">8</div>
                            <div class="card" style="--i: 4;">9</div> -->
                        </div>
                    </div>
                    <div class="additionalDataSection">
                        <div [ngClass]="{'myDice': true, 'hover-enabled': this.chosen}">
                            <div class="dices" [ngStyle]="{'cursor': this.chosen ? 'pointer':'auto'}" (click)="DiceRoll()">
                                <img [ngClass]="{'diceImg': true, 'rotate-animation': rotateDiv}" [src]="'assets/dice/playerDice' + prva + '.png'" alt="Dice {{prva}}">
                                <img [ngClass]="{'diceImg': true, 'rotate-animation': rotateDiv}" [src]="'../../assets/dice/playerDice' + druga + '.png'" alt="Dice {{druga}}">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <!-- <div class="rightSideContainer">
            <div class="opponentActionPoints">
    
            </div>
            
            <div class="playerActionPoints">
    
            </div>
        </div> -->
    </div>
    
</div>