<div class="pageContainer">
<div class="pulsingImage"></div>
<div *ngIf="this.magicCard" [ngClass]="{'showMagicCard':true}">
    <div [ngStyle]="{'box-shadow': 
    TurnForSpecialCards((playCard$ | async))==1 ? 
    '0 0 0 2px #4fc3dc, 0 0 20px #4fc3dc, 0 0 40px #4fc3dc' : 
    '0 0 0 2px #ff2d75, 0 0 20px #ff2d75, 0 0 40px #ff2d75',
    'height': '320px',
    'width': '200px',
    'background-color': 'white',
    'margin-bottom': '5%',
    'border': TurnForSpecialCards((playCard$ | async))==1 ? '2px solid #4fc3dc' : '2px solid #ff2d75'}">
        {{this.playCard$.getValue()?.name}}
    </div>
</div>
    <div class="leftSideContainer">
        <div class="sideCards">
            <div class="monsterCards"  (click)="offPickedImage()">
                <div *ngFor="let i of range(monsterNumber)" [ngClass]="{'monster':true, 'pickCard':this.showPickedMonster&&!this.chosen, 'disable':this.chosen}" (mouseover)="onMonsterHover(i)" (mouseleave)="onMonsterLeave()" (click)="chooseMonster()">
                    {{(session$ | async)!.monsters[i].name}}
                </div>
            </div>
            <div class="actionPointsDiv">
                <div [ngStyle]="{'background-color': getActionPoints((session$ | async))!>=1 ? (Turn((session$ | async))==1 ? '#4fc3dc':'#ff2d75') : '#43434382'}"></div>
                <div [ngStyle]="{'background-color': getActionPoints((session$ | async))!>=2 ? (Turn((session$ | async))==1 ? '#4fc3dc':'#ff2d75') : '#43434382'}"></div>
                <div [ngStyle]="{'background-color': getActionPoints((session$ | async))!>=3 ? (Turn((session$ | async))==1 ? '#4fc3dc':'#ff2d75') : '#43434382'}"></div>
            </div>
            <div class="playCardPiles">
                <div class="freshPile">
                    
                </div>
                <div class="discardPile">
                    
                </div>
                <div [ngClass]="{'pickedCard': true, 'show': showPickedCard&&Turn((session$|async))==1}">
                    {{pickedCardDisplay((session$ | async), selectedValue, isInHand)}}
                </div>
                <div [ngClass]="{'pickedMonster': true, 'showMonster': showPickedMonster&&Turn((session$|async))==1}">
                    {{pickedMonsterDisplay((session$ | async), selectedValue)}}
                </div>
            </div>
        </div>
        
    </div>
    <div class="centerContainer">
        <div class="board">
            <div class="opponentSection"  (click)="offPickedImage()">
                

                <div class="boardContainer">

                    <div [ngClass]="{'playCard':true}"  *ngFor="let i of range(7)">
                     <div  class="actualCardOnBoard" *ngIf="canCardShow((session$ | async)!.opponent?.field,i)">
                        {{showBoardPlayerCard((session$|async)!.opponent!.field, i)}}
                     </div>
                    </div>
                    
                    <div class="monsterBordContainer">
                        <div class="monster">

                        </div>
                    </div>
                    
                </div>
                <div class="multipleFunctionDiv">
                    <div class="opponentHand">
                        <div class="container">
                            <div *ngFor="let i of range((session$ | async)!.opponent?.handSize || 0)" class="card" [style.--i]="i-NumberOfMonsterCards((session$ | async)!.opponent?.handSize)/2" ></div>
                        </div>
                    </div>
                    <div class="additionalOpponentDataSection">
                        <div class="opponentDice">
                            <div class="dices" (click)="DiceRoll()">
                                <img [ngClass]="{'diceImg': true, 'rotate-animation': rotateOppDiv}" [src]="'assets/dice/opponentDice' + ReturnDices((session$ | async))[0] + '.png'" alt="Dice {{ReturnDices((session$ | async))[0]}}">
                                <img [ngClass]="{'diceImg': true, 'rotate-animation': rotateOppDiv}" [src]="'../../assets/dice/opponentDice' + ReturnDices((session$ | async))[1] + '.png'" alt="Dice {{ReturnDices((session$ | async))[1]}}">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="playerSection">
                <div class="boardContainer">

                    <div [ngClass]="{'playCard':true}"  *ngFor="let i of range(7)">
                        <div class="actualCardOnBoard" *ngIf="canCardShow((session$ | async)!.player.field,i)" (mouseover)="onCardHover(i, false)" (mouseleave)="onCardLeave()" (click)="rollForPickedCard(i)">
                            {{showBoardPlayerCard((session$ | async)!.player.field, i)}}
                        </div>
                    </div>
                    <div class="monsterBordContainer">
                        <div class="monster">

                        </div>
                    </div>
                    
                </div>
                <div class="multipleFunctionDiv">
                    <div class="hand">
                        <div class="container">
                            <div [ngClass]="{
                                'card':true, 'pickCard':this.showPickedCard&&!this.chosen, 'disable':this.chosen}" 
                                *ngFor="let i of range(NumberOfCards((session$ | async)))" 
                                [style.--i]="i-NumberOfCards((session$ | async))/2" (mouseover)="onCardHover(i, true)" (mouseleave)="onCardLeave()" (click)="chooseCard(session$.getValue()!.player.hand, i)">{{((session$ | async)!.player.hand)![i].name}}</div>
                        </div>
                    </div>
                    <div class="additionalDataSection">
                        <div [ngClass]="{'myDice': true, 'hover-enabled': this.chosen}">
                            <div class="dices" [ngStyle]="{'cursor': this.chosen ? 'pointer':'auto'}" (click)="DiceRoll()">
                                <img [ngClass]="{'diceImg': true, 'rotate-animation': rotateDiv}" [src]="'assets/dice/playerDice' + firstDice + '.png'" alt="Dice {{firstDice}}">
                                <img [ngClass]="{'diceImg': true, 'rotate-animation': rotateDiv}" [src]="'../../assets/dice/playerDice' + secondDice + '.png'" alt="Dice {{secondDice}}">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
    
</div>