.pageContainer{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
    background-color: rgb(42, 31, 41);
    display: flex;
    flex-direction: row;

}

.leftSideContainer{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.rightSideContainer{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(42, 31, 41);
}

.board{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.opponentSection{
    height: 50%;
    background: rgb(156, 32, 32);
    
    display: flex;
    flex-direction: column-reverse;
}

.playerSection{
    height: 50%;
    background: rgb(23, 23, 108);
}

.centerContainer{
    width: 80%;
    height: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
}

.handContainer{
    width: 20%;
    height: 100%;
}



.opponentDice{
    
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.sideCards{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pickedCard{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255); /* Poluprovidna pozadina */
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 24px;
    z-index: 1; /* Postavljanje sloja iznad ostalih */
    opacity: 0; /* Početno stanje */
    visibility: hidden; /* Sakriva element */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Tranzicija */
}

.pickedCard div{
    cursor: pointer;
    position: absolute;
    z-index: 2;
    background-color: red;
    opacity: 0;
}

.pickedCard:hover div{
 opacity: 1;
}

.pickedCard.show {
  opacity: 1; /* Vidljivost */
  visibility: visible; /* Prikazuje element */
}

.playCardPiles{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.monsterCards div{
    margin-top: 10px;
    width: 200px;
    height: 90px;
    /* border-radius: 20px; */
    background-color: rgb(0, 0, 0);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightSideLayer{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.actionPointsDiv{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.actionPointsDiv div{
    height: 20px;
    border-radius: 50%;
    width: 20px;
    box-shadow: 0 0 0 2px #fcfcfcba,
  0 0 20px #fcfcfcac,
  0 0 40px #fcfcfc82;
}

.monsterBordContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.multipleFunctionDiv{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.opponentSection .multipleFunctionDiv{
    margin-bottom: 5%;
}
.playerSection .multipleFunctionDiv{
    margin-top: 5%;
}
.hand{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opponentHand{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-180deg);
}

.container{
    position:relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card{
    position: absolute;
    height: 160px;
    width: 100px;
    background: white;
    border:1px solid black;
    cursor: pointer;
    transition: 0.5s;
    transform-origin: 50% 100%;
}

.container .card{
    transform: rotate(calc(var(--i)*0.5deg)) translate(calc(var(--i)*70px),-10px);
}

.container .card:hover{
    translate: calc(var(--i)*5px) -20px;
    z-index: 100;
}

.additionalOpponentDataSection{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content:space-evenly;
    gap:2vh;
    align-items:center;
}


.additionalDataSection{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    gap:2vh;
    align-items:center;
}

.monster{
    margin: 10px;
    width: 200px;
    height: 90px;
    /* border-radius: 20px; */
    border: 1px solid white;
}

.freshPile{
    height: 160px;
    width: 100px;
    background-color: white;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playCard{
    height: 160px;
    width: 100px;
    border:1px solid white;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boardContainer{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    justify-content:space-evenly;
}

.playCard{
    height: 160px;
    width: 100px;
    border:1px solid white;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discardPile{
    width: 160px;
    height: 100px;
    background-color: white;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.opponentDice .dices{
    filter: blur(2px);
}

.myDice{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.myDice .dices{
    cursor: pointer;
}

.dices{
    gap: 10px;
    display:flex;
    flex-direction: row;
    /* position: relative; */
    width: 100%;
}
.diceImg{
    height: 50px;
    width: 50px;
}

