<div class="pageContainer">
<div class="pulsingImage"></div>
    <div class="leftSideContainer">
        <div class="sideCards">
            <div class="monsterCards"  (click)="offPickedImage()">
                <div *ngFor="let i of range(monsterNumber)" [ngClass]="{'monster':true, 'pickCard':this.showPickedMonster&&!this.chosen, 'disable':this.chosen}" (mouseover)="onMonsterHover(i)" (mouseleave)="onMonsterLeave()" (click)="chooseMonster()">
                    Monster{{i}}
                </div>
            </div>
            <div class="actionPointsDiv">
                <div [ngStyle]="{'background-color': actionPoints>=1 ? (turn==1 ? '#4fc3dc':'#ff2d75') : '#43434382'}"></div>
                <div [ngStyle]="{'background-color': actionPoints>=2 ? (turn==1 ? '#4fc3dc':'#ff2d75') : '#43434382'}"></div>
                <div [ngStyle]="{'background-color': actionPoints>=3 ? (turn==1 ? '#4fc3dc':'#ff2d75') : '#43434382'}"></div>
            </div>
            <div class="playCardPiles">
                <div class="freshPile">
                    
                </div>
                <div class="discardPile">
                    
                </div>
                <div [ngClass]="{'pickedCard': true, 'show': showPickedCard&&myTurn}">
                    {{selectedValue}}
                </div>
                <div [ngClass]="{'pickedMonster': true, 'showMonster': showPickedMonster&&myTurn}">
                    {{selectedValue}}
                </div>
            </div>
        </div>
        
    </div>
    <div class="centerContainer">
        <div class="board">
            <div class="opponentSection"  (click)="offPickedImage()">
                

                <div class="boardContainer">

                    <div class="playCard">

                    </div>
                    <div class="playCard">

                    </div>
                    <div class="playCard">

                    </div>
                    <div class="playCard">

                    </div>
                    <div class="playCard">

                    </div>
                    <div class="playCard">

                    </div>
                    <div class="playCard">

                    </div>
                    <div class="monsterBordContainer">
                        <div class="monster">

                        </div>
                    </div>
                    
                </div>
                <div class="multipleFunctionDiv">
                    <div class="opponentHand">
                        <div class="container">
                            <div *ngFor="let i of range(NumberOfCards((opponent$ | async)!.hand))" class="card" [style.--i]="i-NumberOfCards((opponent$ | async)!.hand)/2" ></div>
                        </div>
                    </div>
                    <div class="additionalOpponentDataSection">
                        <div class="opponentDice">
                            <div class="dices" (click)="DiceRoll()">
                                <img class="diceImg" [src]="'assets/dice/opponentDice' + firstOpponentDice + '.png'" alt="Dice {{firstOpponentDice}}">
                                <img class="diceImg" [src]="'../../assets/dice/opponentDice' + secondOpponentDice + '.png'" alt="Dice {{secondOpponentDice}}">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="playerSection">
                <div class="boardContainer">

                    <div class="playCard">

                    </div>
                    <div class="playCard">

                    </div>
                    <div class="playCard">

                    </div>
                    <div class="playCard">

                    </div>
                    <div class="playCard">

                    </div>
                    <div class="playCard">

                    </div>
                    <div class="playCard">

                    </div>
                    <div class="monsterBordContainer">
                        <div class="monster">

                        </div>
                    </div>
                    
                </div>
                <div class="multipleFunctionDiv">
                    <div class="hand">
                        <div class="container">
                            <div [ngClass]="{
                                'card':true, 'pickCard':this.showPickedCard&&!this.chosen, 'disable':this.chosen}" 
                                *ngFor="let i of range(NumberOfCards((player$ | async)!.hand))" 
                                [style.--i]="i-NumberOfCards((player$ | async)!.hand)/2" (mouseover)="onCardHover(i)" (mouseleave)="onCardLeave()" (click)="chooseCard()">{{((player$ | async)!.hand)![i]}}</div>
                        </div>
                    </div>
                    <div class="additionalDataSection">
                        <div [ngClass]="{'myDice': true, 'hover-enabled': this.chosen}">
                            <div class="dices" [ngStyle]="{'cursor': this.chosen ? 'pointer':'auto'}" (click)="DiceRoll()">
                                <img [ngClass]="{'diceImg': true, 'rotate-animation': rotateDiv}" [src]="'assets/dice/playerDice' + firstDice + '.png'" alt="Dice {{firstDice}}">
                                <img [ngClass]="{'diceImg': true, 'rotate-animation': rotateDiv}" [src]="'../../assets/dice/playerDice' + secondDice + '.png'" alt="Dice {{secondDice}}">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
    
</div>